/* 
    Document   : design
    Created on : 2011-okt-05, 17:46:46
    Author     : marcus
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

a:visited, a:active, a{
    color: blue;


}
#content_footer{
    clear: both;
    width: 800px;
    height: 100px;
}
.main_menu{
    margin-top: 70px;
}
.main_menu li{
    float: left;
    position: relative;
    margin-left: 5px;
}

#questions, #all_questions{
    width: 510px;
    min-height: 600px;
    float: left;
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* edit form alignment for questions*/
#questions dl, #all_questions dl{
    min-height: 26px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
}
#all_questions{
    border-left: 1px solid #333;
}
.questions, .forms, .label{
    border-radius: 15px;
    padding: 5px;
    min-height: 70px;
}
.questions, .forms{
    margin-bottom: 3px;
    background: #aaa;

}
.questions>dd{
    height: 0px;
    visibility: hidden;
}

.forms ul li{
    float: left;
    position: relative;
    margin-left: 10px;
}
.form_menu, .questions_menu{
    clear: both;
}
.tags{
    clear: both;
}
.tags li{
    float: left;
    position: relative;
}
#header ul{
    float: left;
    position: relative;
}

#create_question, #create_form {
    padding: 10px;
    background: #999;
}
#create_label{
    background: #99BC99;
    min-height: 36px;
}
.label li{
    float: left;
    position: relative;
    margin-left: 10px;
}
.label{
    background: #99BC99;
}