/* 
    Document   : design
    Created on : 2011-okt-05, 17:46:46
    Author     : marcus
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#content_footer{
    clear: both;
    width: 800px;
    height: 100px;
}

#column1{
    margin: 10px 10px 0 -10px;
}

.column{
    width: 470px;
    min-height: 400px;
    max-height: 400px;
    float: left;
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;   
}
/* edit form alignment for questions*/
.column dl{
    min-height: 26px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px; 
}

.dragbox{
    cursor: move;
}

.column  .placeholder{
	background: #f0f0f0;
	border:1px dashed #666;
}
#questions_view{
    width: inherit;
    height: auto;
    padding: 20px 0 0 10px;
}
#questions_view dd{
 padding-left: 10px;
 margin-bottom: 10px;
}
.question, .forms, .label{
    border-radius: 15px;
    padding: 5px;
    background-color: #4F5155;
}
.question, .forms, .label{
    margin-bottom: 3px;
    background: #aaa;
}
.dragbox-content{
    height: auto;
}
.forms ul li{
    float: left;
    position: relative;
    margin-left: 10px;
}
.form_menu, .questions_menu{
    clear: both;
}
.tags{
    clear: both;
}
.tags li{
    float: left;
    position: relative;
}
#header ul{
    float: left;
    position: relative;
}

#create_question, #create_form {
    padding: 10px;
    background: #999;
}
#create_label{
    background: #99BC99;
    min-height: 36px;
}
.label li{
    float: left;
    position: relative;
    margin-left: 10px;
}
.label{
    background: #99BC99;
}
.sort_questions{
    height: 10px;
    margin-left: 480px;
}
.sort_questions a{
    margin-left: 5px;
}


/* Create form Jquery Css */


p {
padding: 0 0 1em;
}
.msg_list {
margin: 0px;
padding: 0px;
width: 383px;
}
.msg_head {
padding: 5px 10px;
cursor: pointer;
position: relative;
background-color:#FFCCCC;
margin:1px;
}
.msg_body {
padding: 5px 10px 15px;
background-color:#F4F4F8;
}

textarea{
    width: 500px;
    height: 100px;
}