ul#menu
{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	position:relative;
	display:block;
	height:30px;
        width: 960px;
	font-size:12px;
	font-weight:bold;
	background:transparent url(../img/nav_bg.png) repeat-x top left;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
}

ul#menu li
{
	display:block;
	float:left;
	margin:0;
	padding:0;
}

ul#menu li a
{
	display:block;
	float:left;
	color:#999999;
	text-decoration:none;
	font-weight:bold;
	padding:8px 20px 0 20px;
}

ul#menu li a:hover
{
	color:#0099CC;
	height:22px;
	background:transparent url(../img/nav_bg.png) 0px -30px no-repeat;
}


ul#menu li a.current
{
	display:inline;
	height:22px;
	background:transparent url(../img/nav_bg.png) 0px -30px no-repeat;
	float:left;
	margin:0;
}





/* Button Css */




.myButton {
	-moz-box-shadow:inset 2px 0px 7px -3px #ffffff;
	-webkit-box-shadow:inset 2px 0px 7px -3px #ffffff;
	box-shadow:inset 2px 0px 7px -3px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebebeb), color-stop(1, #c4c2c2) );
	background:-moz-linear-gradient( center top, #ebebeb 5%, #c4c2c2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#c4c2c2');
	background-color:#ebebeb;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	color:#57a9c9;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 5px #ffffff;
}.myButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c4c2c2), color-stop(1, #ebebeb) );
	background:-moz-linear-gradient( center top, #c4c2c2 5%, #ebebeb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4c2c2', endColorstr='#ebebeb');
	background-color:#c4c2c2;
}.myButton:active {
	position:relative;
	top:1px;
}