







#menu {
	background:url("../img/menu.jpg");
	width: 960px;
        height: 40px;
	margin: auto;
       
}

#menu li {
    float:left;
    position: relative;
    margin-left: 5px;
    margin-top: 13px;
}



   



#header img {
    float: left;
    display: block;
    width: inherit;
    height: inherit;
}





/* Css for menu */


#sddm
{	margin: 0;
	padding: 0 20px 50px;
	z-index: 50;
        background: url("../img/menu.jpg");
        }
        

#sddm li
{	margin: 0;
	padding: 0 15px ;
	list-style: none;
	float: left;
	font: 17px lucida;
        }

#sddm li a
{	display: block;
	margin: 0,auto;
	padding: 10px 60px ;
	width: 10px;
	
	color: red;
	text-align: center;
	text-decoration: none}

#sddm li a:hover{
	
        color: white;
        
        

}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0 1px 1px;
	background: black;
	border: 1px solid red;
}
	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 20px;
		width: 106px;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: black;
		color: red;
		font: 11px arial}

	#sddm div a:hover
	{	
		color: white;
               /* border: 1px solid white;*/
        }
