/*
    Document   : text
    Created on : 2011-okt-07, 13:53:02
    Author     : marcus
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}
p, form, input, textarea, .label, dd, dt, li, a, .tags{
    font-size: 10pt;
}
.main_menu{
    font-size: 12pt;
}
p{
    max-width: 950px;
}
p.hidden{
    font-size: 10pt;
}
.form_type li, .form_hidden li{
    color : #000;
}
.form_time{
    color: #000;
}